# Add this to your scrape_configs in prometheus.yml
# This version targets ONLY node .44 for container metrics.

  - job_name: 'kubernetes-node-44-cadvisor'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    metrics_path: /metrics/cadvisor
    static_configs:
      - targets:
        - '10.23.181.44:10250'
